<!-- templates/index.html.j2 -->
<!DOCTYPE html>
<html>
<head>
  <title>{{ site_title }}</title>
</head>
<body>
  <h1>Welcome to {{ site_title }}</h1>
  <h2>Personalized with Templates Jinja2</h2>
  <p>Deployed on {{ deployment_year }}</p>
</body>
</html>
